<section class="phx-hero">
  <h1>Welcome to Shibr the newest place to view random Shiba images.</h1>
  <p>Making the world a better place one random Shiba picture at a time.</p>
</section>

<section >
  <%= img_tag(@main_dog) %>
</section>
<%= link("New Dog!", to: Routes.page_path(@conn, :index, @breed), class: "button") %>
<ul>
  <%= for breed <- @breeds do%>
    <li> <%= link(breed, to: Routes.page_path(@conn, :index, breed)) %> </li>
  <% end %>
</ul>